{% extends 'base.html'%}

{% block head %}

<title>ChatBot Maker Login</title>

{% endblock %}

{% block body %}

<div class="content">

	<h1>Make Bot</h1>
	{% if bots|length < 1 %}
	<h4>Create a Bots</h4>
	{%else%}
	<table>

		<tr>

			<th>Bots</th>
			<th>creation Date</th>
			
		</tr>

		{% for bot in bots %}
		<tr>

			<td>{{bot.bot}}</td>
			<td>{{bot.date_created}}</td>

		</tr>
		{% endfor %}


	</table>
	{%endif%}

	<form action="/admin" method="POST">

		<input type="text" name="botName" id="botName">
		<input type="submit" value="Add Bot">

	</form>

</div>

{% endblock %} 