{% extends 'base.html'%}

{% block head %}

<title>ChatBot Maker Admin</title>

{% endblock %}

{% block body %}

<div>

	<h1>Make Bot</h1>
	
	<form action="/admin" method="POST">

		<input type="text" name="botName" id="botName">
		<input type="submit" value="Add Bot">

	</form>
	<br>
	<br>

	{% if bots|length < 1 %}
	<h4>Create a Bots</h4>
	{%else%}
	<table>

		<tr>

			<th>Bots</th>
			<th>creation Date</th>
			<th>View Bot</th>
			
		</tr>

		{% for bot in bots %}
		<tr>

			<td>{{bot.bot}}</td>
			<td>{{bot.date_created}}</td>
			<td><a href="/viewbot/{{bot.bot}}">View</a></td>

		</tr>
		{% endfor %}


	</table>
	{%endif%}
</div>

{% endblock %} 