{% extends 'base.html'%}

{% block head %}

<title>ChatBot Maker Sign Up</title>

{% endblock %}

{% block body %}

<div class="content">

	<h1>Sign Up</h1>
	

	<form action="/signup" method="POST">
		<br>User Type: <select name="usertype" id="usertype">

			<option value = "admin">Admin</option>
			<option value = "user">User</option>

		</select>
		<br>Username<input type="text" name="username" id="username">
		<br>Password<input type="password" name="password" id="password">
		<br>Password<input type="password" name="repassword" id="repassword">
		<br><input type="submit" value="Sign Up"><a href="/login">Log In</a>

	</form>

</div>

{% endblock %} 